@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: darkgreen;
}
h1 {
  color: white;
}
.card-black {
  height: 325px;
  width: 225px;
  background-color: white;
  margin: auto;
  margin-top: 50px;
  border-radius: 25px;
  font-size: 4rem;
  color: black;
}
.card-red {
  height: 325px;
  width: 225px;
  background-color: white;
  margin: auto;
  margin-top: 50px;
  border-radius: 25px;
  font-size: 4rem;
  color: red;
}
#icono1 {
  padding-left: 20px;
  text-align: left;
}
#icono2 {
  transform: rotate(180deg);
  text-align: left;
  padding-left: 20px;
  padding-bottom: 40px;
}
.btn {
  background-color: white;
  margin-top: 50px;
}
